[submodule "octogen/src/core"]
	path = octogen/src/core
	url = https://github.com/Octogen-dev/octogen.core.git
	branch = main
[submodule "octogen/src/readers/file"]
	path = octogen/src/readers/file
	url = https://github.com/Octogen-dev/octogen.readers.file.git
	branch = main
